APP_NAME="Cloud S3 Files Demo"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=database
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local
EXPLORER_DISKS=local,public

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
